*{
    margin: 0;
    padding: 0;
}
.body{
    font-size:1.3rem ;
}
.one{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1100px;
}
.row{
    display: flex;
    justify-content: space-between;
}
.inner_contain{
    display: flex;
    justify-content: space-between;
    margin:30px 0;
    border:1px solid red;
}
.inner_one{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: orange;
    padding: 15px 13px;
    border:soild 1px orange;
    border-radius: 5px;
}
.btn{
    text-decoration: none;
    background-color: rgb(241, 240, 240);
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border:solid 2px gray;
    border-radius: 5px;
}
.btn:hover{
    padding: 15px 22px;
    font-size: 18px;
    font-weight: bolder;
}
.two{
    width: 100%;
    /* background-color:red; */
    padding: 10px 0;
}
.hero{
/* background-color: blanchedalmond; */
padding: 50px 0;
display: flex;
justify-content: space-between;
/* border: 1px solid red; */
/* width: 100%; */
}
.hero_text{
    width: 40%;
    font-size: 20px;
}
.hero_text h2{
    font-weight: 900px;
    font-size: 3.3rem;
    line-height: .8;
    letter-spacing: 5px;
}
.hero_text p{
    padding: 50px 0;
    color: rgb(92, 86, 86);
}
.de-flex{
    display: flex;
    justify-content: space-between;
    /* margin-right: 30px; */
}

.hero_img{
    width: 30%;
    max-width: 100%;
}
img{border: 1 px solid transparent;
    border-radius: 20px;

}
.buttons{
    width: 60%;
    /* background-color: red; */
    /* border: 1px solid red; */
}
.button{
    text-decoration: none;
    padding:20px 20px;
    overflow: hidden;
}
.colour{
    background-color: orange;
    border: 1px solid orange;
    border-radius: 5px;
    color:black;
    font-weight: bolder;
    overflow: hidden;
}
.colour:hover{
    padding: 23px 23px;
    font-size: 1.1rem;
}
.color{
    font-weight: bolder;
    color: rgb(92, 86, 86);
}
.three{
    width: 100%;
    /* background-color: brown; */
    padding: 10px 0;
}
.heroo{
    display: flex;
    justify-content: space-between;
    /* margin: 1px solid red; */
}
.heroo_imgone{
    width: 25%;
    max-width: 100%;
    /* height:250px; */
    /* display: flex; */
}

.heroo_imgtwo{
    width: 35%;
    /* height: 350px; */
    /* display: flex; */
    max-width: 100%;

}
.heroo_text{
    width: 30%;
    justify-content: center;
}
.heroo_text h2{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}
.heroo_text p{
    padding: 20px 0;
    text-align: center;
    color: rgb(95, 94, 94);
    /* font-size: 17px; */
}
.four{
    width: 100%;
    padding:10px 0;
    margin: 2rem 0;
}
.main{
    width: 100%;
    /* background-color: aqua; */
    padding: 10px 10px;
    display: flex; 
    justify-content: space-between; 
    justify-content: center; 
}
.main_img{
    width: 2.5rem;
    background-color: orange;
    padding: 5px 5px;
}
.main_sub{
    width: 25%;
    border:soild 1px;
    /* background-color: red; */
    /* margin-top: 10px; */
}
.main_sub + .main_sub{
    margin-left: 10px;
}
.main_sub h2{
    font-weight: 900px;
    font-size: 2rem;
    padding: 20px 0;
}
.p{
    font-size: 18px;
    color: rgb(95, 94, 94);
}
.main_sub p{
    padding:20px 0; 
} 
.name{
    text-align: center;
    color: gray;
}
.orange{
    /* background-color: orange; */
    display: inline-block;
    color: black;
}
@media(max-width:1000px){
    .container{
        width: 95%;
    }    
    .hero_text h2{
        font-size: 2rem;
        letter-spacing: none;
    }
    .hero_text p{
        font-size: 1rem;
        line-height: 1.25;
    }
    .buttons{
        font-size: 1.2rem;
    }
    .hero_img{
        width: 70vh;
        max-width: 100%;
    }
    /* section2 */
    .heroo_imgone{
        max-width: 100%;
        height:30% ;
        height: 200px;
        max-width: 100%;
        display: flex;
    }
    .heroo_imgtwo{
        max-width: 100%;
        width: 35%;
        height:300px;
        margin-right: 3rem;
    }
    .heroo_text p{
        line-height: 1.25;
    }
}
@media(max-width:860px){
    .heroo_imgtwo{
        max-width: 100%;
        width: 30%;
        height:300px;
        margin-right: 5rem;
        display: flex;
    }
     .heroo_text h2{
        /* margin-right: 1rem; */
        font-size: 1.1rem;
    } 
    .buttons{
        font-size: 1.1rem;
    }
    .button{
    text-decoration: none;
    padding:15px 15px;
    overflow: hidden;
    }
    .main_sub h2{
        font-size: 1.5rem;
    }
    .main_sub p{
        font-size: 1rem;
    }
}
@media(max-width:754px){
    .buttons{
        font-size: 1rem;
    }
    .button{
        padding:13px 13px;
    }
    .heroo_imgone{
        max-width: 100%;
        height:27% ;
        height: 200px;
        max-width: 100%;
        display: flex;
    }
    .heroo_imgtwo{
        max-width: 100%;
        width: 33%;
        height:300px;
        display: flex;
        /* margin-right: 3rem; */
    }
}
@media(max-width:600px){
    .hero{
        display: block;
    }
    .hero_text{
        width: 80%;
    }
    .hero_img{
        margin-top: 2rem;
    }
    /* section3 */
    .heroo{
        display: flex;
        flex-wrap: wrap;
    }
    .heroo_imgone{
        width: 35%;
        max-width: 100%;
        height:150px;
        display: flex;
    }
    .heroo_imgtwo{
        width: 50%;
        max-width: 100%;
        height: 200px;
    }
    .heroo_text{
        /* display: flex; */
        align-items: center;
        width: 100%;
        margin-top: 2rem;
    }
    /* section4 */
    .main{
        display: flex; 
        flex-wrap: wrap; 
      justify-content: space-between;
    }
    .main_sub{
        width:45%;
        margin-top: 1rem;
    }
    .main_sub h2{
        /* width: 40%; */
    }
    .main_sub p{
        /* width: 40%; */
    }
}